<div class="container">
  <h1>Draggable control with in limited area POC</h1>

  <div class="bound-box" #myBounds>
  
    <div  ngDraggable [inBounds]="true" [bounds]="myBounds" rzContainment="parent" rzHandles="all"
     class="resizable-widget" (mouseup)="newPosition($event)">
<span><button>+</button>
</span>   </div>

</div>
</div>


<!-- <h1>New one</h1>



<div #container class="container" style="background-color: gray;">
  <button  #draggable class="draggable">
    Drag Me
  </button>
</div> -->